<form [formGroup]="form" (ngSubmit)="save($event)">

    <div formGroupName="fullName">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre Cliente</mat-label>
            <input matInput placeholder="Tomas" formControlName="name">
                <mat-icon matSuffix *ngIf="isNameFieldValid"  >check_circle</mat-icon>
                <mat-icon matSuffix *ngIf="isNameFieldInValid">error</mat-icon>
          </mat-form-field>

          <div class="messages"  [class.active]="nameField.touched &&  isNameFieldInValid" >
            <mat-error *ngIf="nameField.hasError('required')">
                <p>
                    <strong>
                        Es necesario ingresar el nombre.
                    </strong>
                </p>
            </mat-error>
            <mat-error  *ngIf="nameField.hasError('maxlength')">
                <p>
                    <strong>
                        El tamaño maximo es de 10 caracteres
                    </strong>
                </p>
            </mat-error>    
        <mat-error>
            <p *ngIf="nameField.hasError('pattern')">
                <strong>
                    El nombre solo puede tener caracteres
                </strong>
            </p>
        </mat-error>

        </div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido Cliente</mat-label>
            <input matInput placeholder="Jhonson" formControlName="last">
                <mat-icon matSuffix *ngIf="isLastFieldValid"  >check_circle</mat-icon>
                <mat-icon matSuffix *ngIf="isLastFieldInValid">error</mat-icon>
          </mat-form-field>
          <div class="messages"  [class.active]="lastField.touched &&  isLastFieldInValid" >
            <mat-error  *ngIf="lastField.hasError('required')">
                <p>
                    <strong>
                        Es necesario ingresar el Apellido.
                    </strong>
                </p>
            </mat-error>
            <mat-error *ngIf="lastField.hasError('maxlength')">
                <p>
                    <strong>
                        El tamaño maximo es de 10 caracteres
                    </strong>
                </p>
            </mat-error>
            <mat-error *ngIf="lastField.hasError('pattern')">
                <p>
                    <strong>
                        El Apellido solo puede tener caracteres
                    </strong>
                </p>
            </mat-error>
    
        </div>

    </div>

    
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="correo@mail.com" formControlName="email">
            <mat-icon matSuffix *ngIf="isEmailFieldValid"  >check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="isEmailFieldInValid">error</mat-icon>
      </mat-form-field>    
    
      
      <div class="messages"  [class.active]="isEmailFieldInValid" >
        <mat-error *ngIf="emailField.touched && emailField.hasError('required')">
            <p>
                <strong>
                    Es necesario ingresar el Correo Electronico.
                </strong>
            </p>
        </mat-error>
        <mat-error *ngIf="emailField.touched && emailField.hasError('email')">
            <p>
                <strong>
                    Este no es un correo electronico valido
                </strong>
            </p>
        </mat-error>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fono</mat-label>
        <input type="number" matInput placeholder="981876939" formControlName="phone">
            <mat-icon matSuffix *ngIf="isPhoneFieldValid"  >check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="isPhoneFieldInValid">error</mat-icon>
      </mat-form-field>      

    <div class="messages"  [class.active]="isPhoneFieldInValid" >
        <mat-error *ngIf="phoneField.touched && phoneField.hasError('required')">
            <p>
                <strong>
                    Es necesario ingresar el telefono.
                </strong>
            </p>
        </mat-error>
        <mat-error *ngIf="phoneField.touched && phoneField.hasError('maxlength')">
            <p>
                <strong>
                    El tamaño maximo es de 10 caracteres
                </strong>
            </p>
        </mat-error>

    </div>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Color</mat-label>
        <input type="color" matInput placeholder="981876939" formControlName="color">
            <!-- <mat-icon matSuffix *ngIf="isPhoneFieldValid"  >check_circle</mat-icon> -->
            <!-- <mat-icon matSuffix *ngIf="isPhoneFieldInValid">error</mat-icon> -->
      </mat-form-field>      

    <!-- <p>
        Color: {{ colorField.value }}
        <input type="color" formControlName="color"  >
    </p> -->
    

    <mat-form-field appearance="fill">
        <mat-label>Fecha Entrega</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Ingrese Fecha">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Edad</mat-label>
        <input type="number" matInput placeholder="18" formControlName="age">
            <mat-icon matSuffix *ngIf="isAgeFieldValid"  >check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="isAgeFieldInValid">error</mat-icon>
      </mat-form-field>  
    
    <div class="messages"  [class.active]=" ageField.touched &&  isAgeFieldInValid" >
        <mat-error *ngIf="ageField.hasError('required')">
            <p>
                <strong>
                    Es necesario ingresar la edad
                </strong>
            </p>
        </mat-error>
        <mat-error *ngIf="ageField.hasError('min')">
            <p>
                <strong>
                    Debe ser mayor de edad
                </strong>
            </p>
        </mat-error>
        <mat-error *ngIf="ageField.hasError('max')">
            <p>
                <strong>
                    Supera la edad limite
                </strong>
            </p>
        </mat-error>
    </div>
    
    <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category" [(value)]="categoriaSelec" >
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.valor">
            {{categoria.name}}
          </mat-option>
          <!-- <mat-option value="category-1">Categoria 1</mat-option>
          <mat-option value="category-2">Categoria 2</mat-option>
          <mat-option value="category-3">Categoria 3</mat-option>
          <mat-option value="category-4">Categoria 4</mat-option> -->
        </mat-select>
      </mat-form-field>

    <!-- <p>
        Category: {{ categoryField.value }}
        <select formControlName="category" >
            <option value="category-1">Category 1</option>
            <option value="category-2">Category 2</option>
            <option value="category-3">Category 3</option>
            <option value="category-4">Category 4</option>
        </select>
    </p> -->

    <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tag" multiple>
          <mat-option value="tag-1">Tag 1</mat-option>
          <mat-option value="tag-2">Tag 2</mat-option>
          <mat-option value="tag-3">Tag 3</mat-option>
          <mat-option value="tag-4">Tag 4</mat-option>
        </mat-select>
      </mat-form-field>

    <!-- <p>
        Tags: {{ tagField.value }}
        <select formControlName="tag" multiple>
            <option value="tag-1">Tag 1</option>
            <option value="tag-2">Tag 2</option>
            <option value="tag-3">Tag 3</option>
            <option value="tag-4">Tag 4</option>
        </select>
    </p> -->
    <!-- <mat-form-field appearance="fill"> -->
        <!-- <mat-label>Agree</mat-label> -->
        <mat-checkbox formControlName="agree">Agree
            <mat-icon matSuffix *ngIf="isAgreeFieldValid"  >check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="isAgreeFieldInValid">error</mat-icon>


        </mat-checkbox>
      <!-- </mat-form-field> -->

    <!-- <p>
        Agree: {{ agreeField.value }}
        <input type="checkbox" formControlName="agree"  
        [class.is-valid]="isAgreeFieldValid"
        [class.is-invalid]="isAgreeFieldValid"
        >
    </p>
    <div class="messages"  [class.active]=" agreeField.touched &&  isAgreeFieldInValid" >
        <p *ngIf="agreeField.hasError('required')">
            <strong>
                No ha especificado acuerdo
            </strong>
        </p>
        
        <p *ngIf="agreeField.hasError('requiredTrue')">
            <strong>
                Debe aceptar las condiciones
            </strong>
        </p>
    </div> -->
<p>
    <mat-radio-group aria-label="Gender" formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="other">Other</mat-radio-button>
      </mat-radio-group>
</p>

<p>
    <mat-radio-group aria-label="Zone" formControlName="zone">
        <mat-radio-button value="zona 1">Zona 1</mat-radio-button>
        <mat-radio-button value="zona 2">Zona 2</mat-radio-button>
        <mat-radio-button value="zona 3">Zona 3</mat-radio-button>
      </mat-radio-group>
</p>
          

    <!-- <p>
        Gender: {{ genderField.value }}
        <label>
            <input name="gender" type="radio" value="male" formControlName="gender"  >
            Male:
        </label>
        <label>
            <input name="gender" type="radio" value="female" formControlName="gender"  >
            Female:
        </label>
        <label>
            <input name="gender" type="radio" value="other" formControlName="gender"  >
            Other:
        </label>
    </p>
    
    <p>
        Zone: {{ zoneField.value }}
        <label>
            <input name="zone" type="radio" value="zona 1" formControlName="zone"  >
            Zone 1
        </label>
        <label>
            <input name="zone" type="radio" value="zona 2" formControlName="zone"  >
            Zone 2
        </label>
        <label>
            <input name="zone" type="radio" value="zona 3"  formControlName="zone"  >
            Zone 3
        </label>
    </p> -->
    <p>
        <button type="submit"    >Enviar</button>
    </p>
</form>