<form [formGroup]="form" (ngSubmit)="save($event)" >
    <mat-card>
        <mat-card-header>
            <mat-card-title>Categoria</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input type="text" placeholder="Nombre" formControlName="name" matInput>
                        <div class="messages" *ngIf="nameField.touched && nameField.invalid" >
                            <mat-error *ngIf="nameField.hasError('required')">
                                Este Campo es requerido
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <img *ngIf="imageField.value"  [src]="imageField.value"/>
                        <input (change)="uploadFile($event)" type="file" placeholder="Imagen">
                        <mat-progress-bar mode="determinate" [value]="avance"  ></mat-progress-bar>

                        <div class="messages" *ngIf="imageField.touched && imageField.invalid">
                            <mat-error *ngIf="imageField.hasError('required')">
                                Imagen Requerida
                            </mat-error>
                        </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit">Guardar Categorias</button>
        </mat-card-actions>
    </mat-card>
</form>